.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0px;
}

.footerText{
    font-size: 11px;
}

@media screen and (max-width: 992px) {
    .footer {
        width: 100%;
    }
    .footerText{
        font-size: 7px;
    }
}