

/* CSS */
.Header{
  position: relative;
  background: rgb(12, 12, 59);
  padding: 10px;
  margin-bottom: 10px;
}

.tableContainer table{
	border-spacing: 0px !important;
	border: 2px solid rgb(173, 88, 39);
	background-color: lightgray;
	background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

.Table__APPLE table{
	border-spacing: 0px !important;
	border: 10px solid rgb(173, 88, 39);
	background-color: lightgray;
	background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

.Footer{
  position: relative;
  background: purple;
  padding: 10px;
  margin-top: 10px;
}

.innerBox{
  display: flex;
}

.Left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Right {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.TableContainer {
  flex: 6;
  display: flex;
  justify-content: center;
}

.Board__STANDARD,
.Board__STANDARD:after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #756f66;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  width: 700px;
  height: 700px;
}

.Board__APPLE,
.Board__APPLE:after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  clip-path: polygon(54% 20%, 54.91993713378906% 18.968008041381836%, 55.70249938964844% 17.828624725341797%, 56.31657028198242% 16.590499877929688%, 56.738521575927734% 15.274527549743652%, 56.95997619628906% 13.910322189331055%, 56.53154754638672% 12.952169418334961%, 55.19698715209961% 12.597765922546387%, 53.816078186035156% 12.581177711486816%, 52.44255828857422% 12.74217414855957%, 51.08067321777344% 12.983983993530273%, 50.13121795654297% 13.967589378356934%, 49.339622497558594% 15.10073471069336%, 48.71476745605469% 16.333459854125977%, 48.28095245361328% 17.645566940307617%, 48.04765701293945% 19.007787704467773%, 47.61376953125% 19.949281692504883%, 46.24269485473633% 19.765830993652344%, 44.87285614013672% 19.573373794555664%, 43.50545883178711% 19.36437225341797%, 42.14310073852539% 19.124895095825195%, 40.78932189941406% 18.84098243713379%, 39.44412612915039% 18.5186824798584%, 38.10285186767578% 18.180315017700195%, 36.759490966796875% 17.850385665893555%, 35.40932083129883% 17.549758911132812%, 34.04655838012695% 17.313499450683594%, 32.6717529296875% 17.16621971130371%, 31.288837432861328% 17.140222549438477%, 29.90631675720215% 17.179872512817383%, 28.534334182739258% 17.353248596191406%, 27.174890518188477% 17.608081817626953%, 25.831159591674805% 17.935871124267578%, 24.50676727294922% 18.33466911315918%, 23.205215454101562% 18.80267906188965%, 21.929960250854492% 19.33819007873535%, 20.684303283691406% 19.939374923706055%, 19.471506118774414% 20.604318618774414%, 18.299301147460938% 21.33837890625%, 17.17660903930664% 22.14604949951172%, 16.11329460144043% 23.030363082885742%, 15.119473457336426% 23.9920654296875%, 14.204740524291992% 25.02924156188965%, 13.376884460449219% 26.13698959350586%, 12.641107559204102% 27.307937622070312%, 11.997444152832031% 28.532007217407227%, 11.43937873840332% 29.797473907470703%, 10.959348678588867% 31.0946044921875%, 10.5492582321167% 32.41556167602539%, 10.201375007629395% 33.75428009033203%, 9.908446311950684% 35.10612106323242%, 9.664093971252441% 36.467594146728516%, 9.462564468383789% 37.83608627319336%, 9.299003601074219% 39.209632873535156%, 9.172032356262207% 40.5870361328125%, 9.082296371459961% 41.96738815307617%, 9.026104927062988% 43.34950637817383%, 9.001456260681152% 44.73255157470703%, 9.007282257080078% 46.115814208984375%, 9.043334007263184% 47.49860382080078%, 9.110241889953613% 48.88025665283203%, 9.21038818359375% 50.259883880615234%, 9.344578742980957% 51.63661193847656%, 9.513286590576172% 53.00954818725586%, 9.718085289001465% 54.37754821777344%, 9.960623741149902% 55.73937225341797%, 10.241994857788086% 57.09370040893555%, 10.563163757324219% 58.43913650512695%, 10.9247465133667% 59.7742805480957%, 11.326976776123047% 61.09774398803711%, 11.769682884216309% 62.40822219848633%, 12.252373695373535% 63.70452117919922%, 12.774068832397461% 64.98560333251953%, 13.333526611328125% 66.25066375732422%, 13.929186820983887% 67.49908447265625%, 14.559279441833496% 68.73049926757812%, 15.222076416015625% 69.94462585449219%, 15.915321350097656% 71.14161682128906%, 16.636871337890625% 72.32177734375%, 17.383886337280273% 73.48600769042969%, 18.15403175354004% 74.63504791259766%, 18.945262908935547% 75.76969146728516%, 19.756071090698242% 76.89042663574219%, 20.585378646850586% 77.99754333496094%, 21.432458877563477% 79.09113311767578%, 22.296751022338867% 80.17115783691406%, 23.177932739257812% 81.23744201660156%, 24.075908660888672% 82.28963470458984%, 24.990793228149414% 83.32715606689453%, 25.922916412353516% 84.3492202758789%, 26.872692108154297% 85.35488891601562%, 27.84229278564453% 86.34143829345703%, 28.838178634643555% 87.30142974853516%, 29.864717483520508% 88.22853088378906%, 30.927852630615234% 89.11334228515625%, 32.035789489746094% 89.94122314453125%, 33.20048522949219% 90.6867446899414%, 34.438472747802734% 91.30152130126953%, 35.749446868896484% 91.7389907836914%, 37.113609313964844% 91.95747375488281%, 38.495567321777344% 91.94819641113281%, 39.86725997924805% 91.77252197265625%, 41.219024658203125% 91.4804458618164%, 42.559940338134766% 91.14073181152344%, 43.89925765991211% 90.7946548461914%, 45.24422836303711% 90.4715576171875%, 46.6024169921875% 90.21041870117188%, 47.97704315185547% 90.0636215209961%, 49.359920501708984% 90.03276824951172%, 50.743194580078125% 90.03356170654297%, 52.123600006103516% 90.11432647705078%, 53.49098587036133% 90.31979370117188%, 54.8409309387207% 90.62125396728516%, 56.183040618896484% 90.95623779296875%, 57.52260971069336% 91.30123138427734%, 58.868324279785156% 91.62109375%, 60.22911071777344% 91.86803436279297%, 61.606719970703125% 91.98297119140625%, 62.98521423339844% 91.89059448242188%, 64.32572937011719% 91.55632781982422%, 65.60038757324219% 91.02164459228516%, 66.80435943603516% 90.34172058105469%, 67.94437408447266% 89.55882263183594%, 69.029541015625% 88.7012939453125%, 70.07039642333984% 87.79035949707031%, 71.079833984375% 86.8446044921875%, 72.0641098022461% 85.87269592285156%, 73.02661895751953% 84.87922668457031%, 73.9693374633789% 83.86692810058594%, 74.89344787597656% 82.83760833740234%, 75.7998046875% 81.79264831542969%, 76.68905639648438% 80.73308563232422%, 77.56144714355469% 79.65957641601562%, 78.4166030883789% 78.5722885131836%, 79.25458526611328% 77.47172546386719%, 80.07453918457031% 76.357666015625%, 80.87657928466797% 75.23063659667969%, 81.65968322753906% 74.09039306640625%, 82.41999816894531% 72.934814453125%, 83.15558624267578% 71.7633285522461%, 83.86402130126953% 70.57527923583984%, 84.54340362548828% 69.3703384399414%, 85.19148254394531% 68.1482925415039%, 85.80614471435547% 66.90912628173828%, 86.38544464111328% 65.65302276611328%, 86.9276123046875% 64.3804702758789%, 87.43114471435547% 63.092132568359375%, 87.89471435546875% 61.78888702392578%, 88.31775665283203% 60.4719352722168%, 88.699951171875% 59.14253616333008%, 89.04138946533203% 57.80211639404297%, 89.34259796142578% 56.45206069946289%, 89.60444641113281% 55.09381103515625%, 89.82833862304688% 53.72882080078125%, 90.01586151123047% 52.358333587646484%, 90.16873931884766% 50.98352813720703%, 90.28893280029297% 49.60551071166992%, 90.37861633300781% 48.22515869140625%, 90.42078399658203% 46.84267044067383%, 90.42965698242188% 45.45941162109375%, 90.42638397216797% 44.07612228393555%, 90.40594482421875% 42.6930046081543%, 90.32954406738281% 41.3118896484375%, 90.21990203857422% 39.932979583740234%, 90.07652282714844% 38.55717468261719%, 89.89617156982422% 37.185733795166016%, 89.67483520507812% 35.82032775878906%, 89.4080810546875% 34.46306610107422%, 89.09026336669922% 33.116878509521484%, 88.71479797363281% 31.785646438598633%, 88.27422332763672% 30.474544525146484%, 87.75895690917969% 29.191038131713867%, 87.16045379638672% 27.944250106811523%, 86.47370147705078% 26.74384880065918%, 85.6963119506836% 25.600093841552734%, 84.82935333251953% 24.522672653198242%, 83.87759399414062% 23.51938819885254%, 82.84886169433594% 22.595121383666992%, 81.75385284423828% 21.750341415405273%, 80.60511779785156% 20.980113983154297%, 79.41230773925781% 20.279977798461914%, 78.18260192871094% 19.64681625366211%, 76.92137145996094% 19.079092025756836%, 75.63277435302734% 18.576444625854492%, 74.32025909423828% 18.140138626098633%, 72.98684692382812% 17.772621154785156%, 71.6353988647461% 17.478412628173828%, 70.26908111572266% 17.263668060302734%, 68.89107513427734% 17.14804458618164%, 67.50811767578125% 17.128700256347656%, 66.1285171508789% 17.222381591796875%, 64.75924682617188% 17.41706657409668%, 63.403133392333984% 17.689367294311523%, 62.056610107421875% 18.006128311157227%, 60.714996337890625% 18.34314727783203%, 59.37282180786133% 18.677886962890625%, 58.02919006347656% 19.00667381286621%, 56.68449020385742% 19.33115577697754%, 55.340370178222656% 19.658119201660156%, 54% 20%);
  background-color: #8c234a;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  width: 700px;
  height: 700px;
}

.Board:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.Board:active {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media screen and (max-width: 992px) {
  .Board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
  }

  .Board__STANDARD,
  .Board__STANDARD:after {
    width: 100%;
    height: 100%;
  }

  .Board__APPLE,
  .Board__APPLE:after {
    width: 100%;
    height: 100%;
  }
}