
*{
	border-spacing: 0px !important;
  user-select: none;
}

/* CSS */
.Header{
  position: relative;
  background: rgb(12, 12, 59);
  padding: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}

.sideNumbering{
  font-size: 8px;
  width: 10px;
  height: 10px;
  background:rgb(185, 174, 166);
}

.tableContainer {
  border-radius: 20px;
}

.tableContainer table{
	border-spacing: 0px !important;
	border: 2px solid rgb(173, 88, 39);
	background-color: lightgray;
  border-radius: 10px;
}

.NWcell{
  border-radius: 8px 0px 0px 0px;
}
.NEcell{
  border-radius: 0px 8px 0px 0px;
}
.SWcell{
  border-radius: 0px 0px 0px 8px;
}
.SEcell{
  border-radius: 0px 0px 8px 0px;
}

.Footer{
  position: relative;
  background: rgb(108, 4, 4);
  padding: 10px;
  margin-top: 10px;
  font-size: 12px;
}

.innerBox{
  display: flex;
}

.Left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 0;
}

td {
  padding: 0px;
}

.Board__STANDARD,
.Board__STANDARD:after {
  background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.65),rgba(255, 255, 255, 0));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 680px;
  height: 680px;
}

.Board:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.Board:active {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media screen and (max-width: 992px) {
  .Board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    box-shadow: none;
  }

  .Board__STANDARD,
  .Board__STANDARD:after {
    width: 100%;
    height: 100%;
  }

}

@media screen and (min-width: 992px) and (max-width: 1200px){
  .Board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    width: auto;
    height: 100%;
  }

  .Board__STANDARD,
  .Board__STANDARD:after {
    width: auto;
    height: 100%;
  }

}

@media screen and (max-height: 992px) and (min-width: 1200px){
  .Board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 570px;
    height: 570px;
  }
}

@media screen and (max-width: 676px){
  .sideNumbering {
    font-size: 5px;
    width: 6px;
    height: 6px;
  }
  .Header, .Footer{
    font-size: 8px;
  }
}