.Cell__APPLE{
    width: 23px;
    height: 23px;
    display: flex;  
    font-size: 20px;
    justify-content: center;
    align-items: flex-end;
}
.Cell__STANDARD{
    width: 30px;
    height: 30px;
    display: flex;  
    font-size: 25px;
    justify-content: center;
    align-items: flex-end;
}
.cellPool{
    width: 15px;
    height: 15px;
    display: flex;  
    font-size: 25px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: 2px solid black;
    user-select: none;
}

@media screen and (max-width: 676px) {
    .Cell__APPLE{
        width: 13px;
        height: 13px;
        display: flex;  
        font-size: 15px;
        justify-content: center;
        align-items: flex-end;
    }
    .Cell__STANDARD{
        width: 15px;
        height: 15px;
        display: flex;  
        font-size: 13px;
        justify-content: center;
        align-items: flex-end;
    }
}

@media screen and (max-height: 992px) {
    .Cell__STANDARD{
        width: 25px;
        height: 25px;
        display: flex;  
        font-size: 22px;
        justify-content: center;
        align-items: flex-end;
    }
}