@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Syne+Mono');
*{
	font-family: 'Josefin Sans', sans-serif;
}

.poolTbl{
    overflow-wrap: break-word;
    text-align: justify;
    font-size: 14px;
    line-height: 28px;
    font-family: 'Syne Mono' !important;
}

.charGroup {
    margin: 0 0.8em 0 0;
    font-family: 'Syne Mono' !important;
}
.red{
    color: red !important;
    font-family: 'Syne Mono' !important;
    overflow-wrap: break-word;
    text-align: justify;
    font-size: 14px;
    line-height: 28px;
    font-family: 'Syne Mono' !important;
}