.container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.box {
    margin-bottom: 10px;
}

.filterBox {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.tableBox {
    border: 1px solid #ccc;
    padding: 10px;
}

.autocompleteLabel {
    color: #1976d2;
}

.autocompleteInput {
    border-bottom: 2px solid #1976d2;
}
  